body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url("background-image2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* TAKE AWAY THE UNDERLINE OF HYPERLINK */
.song-link {
  text-decoration: none;
}

/* .music-box {
  width: 720px;
  padding: 5px 5px 5px 5px;
  border: 2px solid white;
  border-radius: 3px;
  margin: 5px 0px 0px 5px;
  font-size: 12px;
} */

.music-list {
  width: inherit;
  height: auto;
  display: inline-grid;
}


/* POSITION OF FULL LIST OF SONGS */
.song {
  height: 80px;
  margin-bottom: 2px;
  border-radius: 2px;
  text-align: center;
  /* padding: 3px 3px 3px 3px; */
}

/* PICTURES */
.image {
  width: 70px;
  float: left;
}

/* POSITION NUMBERS */
.position {
  font-size: 20px;
  margin: 10px 5px 5px 5px
}

/* POSITION NUMBERS */
.position-box {
  width: 50px;
  height: 50px;
  float: left;
  text-align: center;
  color: #ECE5F0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.artist-name {
  padding-left: 150px;
  padding-top: 50px;
}

.song-title {
  padding-left: 150px;
  transform: translateY(-300%);

}

/* ARTIST NAME */
h3 {
  color: white;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  padding-left: 150px;
}

h2 {
  padding-left: 150px;
}

/* SONG TITLE */
h4 {
  color: #ECE5F0;
  text-align: left;

}

/* UK TOP 20 SONGS*/
h1 {
  text-align: center;
  color: white;
}
